table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: auto;
  align-items: center;
  width: 100%;
  padding: 10px;
 
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 50 0.75em;
  margin-right: 20px;
  border-radius: 10px;
}

table tr {
  background-color: #202020;
  border: 1px solid #292929;
  padding: 0.35em;
  margin-right: 20px;
  border-radius: 10px;
}

table th,
table td {
  padding: 0.62em;
  text-align: center;
  
  
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  
}

table td .action {
  border: 0;
  padding: 5px;
  margin-right: 2px;
  align-items: center;
  display: inline-block;
  border-radius: 4px;
}

table td .action svg {
  vertical-align: middle;
}

table td .badge {
  padding: 3px;
  border-radius: 3px;
  color: #fff;
}

@media screen and (max-width: 722px) {
  table {
    border: 0;
    width: 100%;
    table-layout: auto;
    margin-left: 10px;
    border-radius: 10px;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #202020;
    display: block;
    margin-bottom: 0.65em;
  }

  table td {
    border-bottom: 1px solid #292929;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}


@media screen and (min-width: 1024px) {
  table {
    border: 0;
    width: 20%;
    table-layout: auto;
    margin-left: 310px;
    padding: 10px;
    border-radius: 10px;
  }
}


@media screen and (min-width: 736px) {
  table {
    border: 0;
    width: 50%;
    table-layout: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
  }
}


@media screen and (min-width: 721px) {
  table {
    border: 0;
    width: 83%;
    margin-left: 310px;
    padding: 10px;
    border-radius: 10px;
  }
}


@media screen and (min-width: 1920px) {
  table {
    border: 0;
    width: 70%;
    table-layout: auto;
    margin-left: 310px;
    padding: 10px;
    border-radius: 10px;
  }
}





